/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/outfit-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/outfit-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-slate-900: hsl(218, 44%, 22%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-300: hsl(212, 45%, 89%);
}

body {
  background-color: var(--color-slate-300);
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--color-slate-900);
  line-height: 1.2;
  max-width: 17ch;
  align-self: center;
  margin: 0;
}

p {
  font-size: 0.9375rem;
  color: var(--color-slate-500);
  line-height: 1.4;
  max-width: 26ch;
  text-align: center;
  align-self: center;
  margin-top: 16px;
  margin-bottom: 40px;
}

.hero {
  width: 320px;
  height: 499px;

  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

.hero img {
  border-radius: 10px;
  margin: 16px 16px 24px;
}
